*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    background-image: url(../FotoWebsite/Left-Counseling\ 1.png);
}


.section-content{
    height: 100vh;
    width: 100vw;
    display: flex;
}

.left-content{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px 40px;
    text-align: start;
}

.left-text{
    text-align: start;
    max-width: 500px;
    margin-bottom: 20px;
}

.left-text p{
    color: white;
    text-align: start;
}

.left-title{
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 20px;
    text-align: start;
}

.lef-desc{
    font-size: 0.75rem;
    text-align: start;
}

.social-media{
    font-size: 25px;
    color: white;
    border-radius: 10px;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.social-media div{
    margin: 0px 20px;
    transition: transform 0.2s ease;
}

.social-media div{
    margin: 0 10px;
    transition: transform 0.2s ease;

}

.social-media div:nth-child(1){
    color: #1877F2;
}

.social-media div:nth-child(2){
    color: #1DA1F2;
}

.social-media div:nth-child(3){
    color: #E4405F;
}

.social-media div:nth-child(4){
    color: #C4302B; 
}

.social-media div:nth-child(5){
    color: #25d366;
}

.right-content{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 60%;
}

.register{
    width: 100%;
    max-width: 700px;
    padding: 0px 40px;
    color: white;
}

.register-button{
    width: 100%;
}

.register>p:nth-child(1){
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 50px;
}

.right-content-form {
    display: flex;
    flex-direction: column;
}

.right-content-form p{
    font-size: 1rem;
    margin-bottom: 5px;
    font-weight: bold;
}

.right-content-form>input{
    border-width: 0px;
    border-bottom-width: 1px;
    padding: 8px 4px;
    margin-bottom: 40px;
}

.select-status{
    font-weight: normal;
}

.input-checkbox{
    margin-bottom: 15px;
    font-size: 1rem;
}

inputt[type='checkbox']{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-top: 10px;
}

button[type='submit']{
    border-width: 0px;
    background-color: #cdbbeb;
    border-bottom: 5px solid #5b3894;
    text-shadow: #5b3894;
    color: white;
    padding: 15px;
    font-size: 1.1rem;
    border-radius: 20px;
}

.right-content-form input:focus-visible{
    outline: 0;
}

.social-media div:hover{
    transform: scale(1.4);
}

.right-content-form button:hover{
    background-color: #E6932B;
    -webkit-transition: background-color 0.1s linear;
    -ms-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
    border-bottom: 5px solid #a05800;
    text-shadow: #a05800;
}

.register-button:active{
    transform: translate(100px 50px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}


.right-content-form input:focus{
    box-shadow: 0px 0p 10px 2px #601ddc4d;
}

@media only screen and (max-width: 500px){
    .left-content{
        display: none;
    }
    .right-content{
        width: 100%;
    }
}

