*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.section-content{
    height: 100vh;
    width: 100vw;
    display: flex;
}

.left-content{
    width: 50%;
    height: 100%;
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../FotoWebsite/wallpaper.png');
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 80px 20px;
}

.welcome{
    text-align: center;
    max-width: 500px;
    margin-bottom: 30px;
}

.welcome p{
    color: white;
}

.left-title{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.left-desc{
    font-size: 0.75rem;
}

.social-media{
    font-size: 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.118);
    border-radius: 20px;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.right-content{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register{
    width: 100%;
    max-width: 700px;
    /* Coba entar ini ga diisi */
    padding: 0px 40px;
}

.register-button{
    width: 100%;
}

.register>p:nth-child(1){
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 50px;
}

.right-content-form {
    display: flex;
    flex-direction: column;
}

.right-content-form p{
    font-size: 1rem;
    margin-bottom: 5px;
    font-weight: bold;
}

.right-content-form>input{
    border-width: 0px;
    border-bottom-width: 1px;
    padding: 8px 4px;
    margin-bottom: 40px;
}

.input-checkbox{
    margin-bottom: 20px;
    font-size: 1rem;
}

inputt[type='checkbox']{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

button[type='submit']{
    border-width: 0px;
    background-color: #2D253A;
    color: white;
    padding: 15px;
    font-size: 1.1rem;
    border-radius: 20px;
}

.right-content-form input:focus-visible{
    outline: 0;
}

.social-media div:hover{
    transform: scale(1.4);
}

.right-content-form button:hover{
    background-color: #441992;
    -webkit-transition: background-color 0.1s linear;
    -ms-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
}

.right-content-form input:focus{
    box-shadow: 0px 0p 10px 2px #601ddc4d;
}

@media only screen and (max-width: 500px){
    .left-content{
        display: none;
    }
    .right-content{
        width: 100%;
    }
}