{% extends 'base.html' %}
{% load static %}
{% block content %}

<h2>Edit Setoran Sampah {{pk}}</h2>

<form action="" method="POST">
    {% csrf_token %}
    <div class="container">
        <div class="list_form">
            <p>Tanggal Setoran</p>
            {% comment %} <input (default=True) type="datetime-local" name="tanggal" value="{{pilihan_sampah.tanggal | date:'Y-m-d'}}"> {% endcomment %}
            <input type="datetime-local" name="tanggal" (initial=date)>
            <label for="nama_penyetor">Penyetor</label>
                <select name="penyetor" id="nama_penyetor">
                    {% for items in users %}
                    <option value="{{ items.id }}" {% if pilihan_sampah.penyetor.username == items.username %}selected{% endif %}>{{items.username}}</option>
                    {% endfor %}
                </select>
            <label for="jenis_sampah">Jenis Sampah</label>
                <select name="jenis" id="jenis_sampah">
                    <option value="Plastik" {% if pilihan_sampah.jenis == 'Plastik' %}selected{% endif %}>Plastik</option>
                    <option value="Ember" {% if pilihan_sampah.jenis == 'Ember' %}selected{% endif %}>Ember</option>
                    <option value="Kardus" {% if pilihan_sampah.jenis == 'Kardus' %}selected{% endif %}>Kardus</option>
                </select>
            <p>Jumlah Setoran</p>
            <input type="number" name="jumlah_setoran" placeholder="0" value="{{pilihan_sampah.jumlah_setoran}}">
            <p>Total Poin</p>
            <input type="number" name="total_poin" placeholder="0" value="{{pilihan_sampah.total_poin}}">
            <label for="pilihan_status">Status</label>
                <select name="status" id="pilihan_status">
                    <option value="Approved" {% if pilihan_sampah.status == 'Approved' %}selected{% endif %}>Approved</option>
                    <option value="Waiting" {% if pilihan_sampah.status == 'Waiting' %}selected{% endif %}>Waiting</option>
                </select>
            <input type="submit" name="Submit">
        </div>
        <button><a href="{% url 'home' %}">Cancel</a></button>
    </div>
</form>

{% endblock content %}


