{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Bank Sampah Digital</title>
</head>

<body>
    <div class='header'>Daftar Setoran Nasabah BSD</div>
        <table class='table'>
            <tr>
                <th>No</th>
                <th>Tanggal</th>
                <th>Penyetor</th> 
                <th>Jenis Sampah</th> 
                <th>Jumlah Setoran (kg/unit)</th> 
                <th>Total Poin</th> 
                <th>Status</th>
                <th>Saldo</th> 
                <th>Function</th> 
            </tr>
            {% for item in semua_sampah %} 
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{item.tanggal}}</td>
                <td>{{item.penyetor}}</td> 
                <td>{{item.jenis}}</td> 
                <td>{{item.jumlah_setoran}}</td> 
                <td>{{item.total_poin}}</td> 
                <td>{{item.status}}</td> 
                <td>{{item.saldo}}</td>
                <td><a href="{% url 'edit' item.id %}">Edit</a> <a></a> <a href="{% url 'delete' item.id %}">Delete</a></td> 
            </tr>
            {% endfor %}
        </table>
</body>
</html>
<a href="{% url 'create' %}">Create</a>
{% endblock content %}