/* Code for the title to the center of the page */
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&family=Red+Hat+Display:wght@900&display=swap");
.header {
  font-family: "Comic Neue", cursive;
  color: #000000;
  font-size: 50px;
  text-align: center;
  width: 100%;
  text-shadow: 6px 6px 6px #c9c6c6;
  display: block;
  font-weight: bolder;
  margin-bottom: 10px;
}

/* Code for the table  */
.table {
  font-size: 14px;
  text-align: center;
}

/* Variance for the table rows */
.table tr:nth-child(odd) {
  background-color: #a2ba1c;
}

.table tr:nth-child(even) {
  background-color: #ffffff;
}

th {
  background-color: #2b4c07;
  color: white;
}
