*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.resep-content{
    border: 1px solid black;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
}

.resep-content *{
    margin-bottom: 6px;
}

.resep-content h3{
    margin-bottom: 15px;
}

.resep-box{
    padding: 20px;
}

.nav-selection{
    display: flex;
    gap: 20px;
    text-decoration: none;
    list-style-type: none;
    font-size: 1.1rem;
    background-color: rgb(0, 153, 255);
    color: white;
    padding: 20px;
}

.title{
    margin-bottom: 20px;
}

.resep-create{
    padding: 20px;
}

.resep-create h2{
    margin-bottom: 10px;
}

.resep-create input{
    margin-bottom: 10px;
}

.resep-create select{
    margin-bottom: 10px;
    padding: 5px;
}

.resep-create button{
    padding: 5px;
}