*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New';
}

.base{
    width: 100vw;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, #1C3ADF, #200C5B);
}

.box{
    width: 500px;
    background-color: white;
    border-radius: 10px;
}

.contents{
    margin: 40px;
}

title{
    margin-bottom: 4px;
}

.title-descprition{
    font-size: 12px;
    color: grey;
    margin-bottom: 20px;
}

.input{
    font-weight: bold;
}
.user-box{
    border-width: 0;
    background-color: #D5D5F5;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 40px;
    padding: 20px;
}

.pass-box{
    border-width: 0;
    background-color: #D5D5F5;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    margin-bottom: auto;
    padding: 20px;
}

.forgot-password{
    color: rgb(65, 62, 62);
    font-size: 14px;
    text-align: right;
    font-style: italic;
    font-weight: bold;
    margin-top: 0cm;
    margin-bottom: 40px;
}

.login-button{
    background-color: #4844CC;
    padding: 15px 20px;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 10px;
}

.no-account{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: grey;
}

.create-now{
    color: tomato;
}
