*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.base{
    background-image: linear-gradient(to bottom left, #3AB3E0, #616FEC);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    display: flex;
    width: 1000px;
    justify-content: space-between;
    align-items: center;
}

.left-box{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.left-title{
    color: white;
    font-size: 42px;
    margin-bottom: 30px;
}

.left-description{
    color: white;
    margin-bottom: 30px;
}

/* .animasi{
    transition: all 0.1s;
    -webkit-transition: all 0.1;
} */

.information-button{
    background-color: #00CA4D;
    border-bottom: 5px solid #044e21;
    text-shadow: #044e21;
    padding: 10px 25px;
    border-radius: 30px;
    color: white;
    
}

.information-button:active{
    transform: translate(100px 50px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}

.right-box{
    background-color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 50%;
}

.right-title{
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
}

.input-box{
    border-color: transparent;
    background-color: #F2F2F2;
    margin-bottom: 10px;
    padding: 10px;
}

.register-button{
    border-width: 0;
    background-color: #1E81FF;
    border-bottom: 5px solid #012b61;
    text-shadow: #012b61;
    text-align: center;
    border-radius: 30px;
    padding: 10px;
    color: white;
}

.register-button:active{
    transform: translate(100px 50px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}


/* CODE SOSIAL MEDIA */
.base2{
    display: flex;
    justify-content: center;
    justify-content: baseline;
}
.icon{
    position:absolute;
    top: 50%;
    transform: translateY(220px);
    width: auto;
    height: fit-content;
    text-align: center;
    font-size: 23px;
}

.button{
    display: inline-block;
    width: 50px;
    height: 50px;
    background:rgb(231, 231, 231);
    margin: 5px;
    border-radius: 30%;
    box-sizing: 0 5px 15px -5px #00000070;
    overflow: hidden;
    justify-content: baseline;
    align-items: flex-end;
    position: relative;
    color: #2980B9;
}

.section button{
    justify-content: baseline;
}

.button i{
    transition: 0.2s linear;
    line-height: 50px;
}

.button:hover i{
    transform: scale(1.5);
    color: rgb(231, 231, 231);
}

.button::before{
    content:"";
    position: absolute;
    width: 65px;
    height: 65px;
    left: -120%;
    top: 80%;
    transform: rotate(45deg);
    background: #001727;
}

.button:hover:before{
    left: -150%;
    top: 100%;
    animation: animasi 0.7s 1;
}

@keyframes animasi{
   0%
   {
    left: -110%;
    top: 90%;
   }
   50%
   {
    left: -10%;
    top: -30%;
   }
   100%
   {
    left: -10%;
    top: -10%;
   }
}

.facebook{
    color: #3b5998;
}

.twitter{
   color: #00acee; 
}

.instagram{
    color:  #405DE6;
    /* color: linea (to bottom right, #F58529, #FEDA77, #DD2A7B, #8134AF, #515BD4) ;
    color-adjust: to bottom right, #F58529, #FEDA77, #DD2A7B, #8134AF, #515BD4;  */
    /* background-image: linear-gradient(to bottom right, #F58529, #FEDA77, #DD2A7B, #8134AF, #515BD4); */
 }

.youtube{
    color:#C4302B; 
}

.whatsapp{
    color:#25d366;
}

