{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- ini apa yaa?? yg di atas -->

    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    
    <title>Hello, world!</title>
</head>
<body>
    <div class="container">
        <nav>
            <!-- Ini belum begitu paham -->
            <p class="nav_logo {% if navbar_color == 'black' %} nav_color {% else %}{% endif %}">KOPIKU</p>
            <ul class="nav_list">
                <li><a class="{% if navbar_color == 'black' %} nav_color {% else %}{% endif %}" href="{% url 'home' %}">Home</a></li>
                <li><a class="{% if navbar_color == 'black' %} nav_color {% else %}{% endif %}" href="{% url 'home' %}">About</a></li>
                <li><a class="{% if navbar_color == 'black' %} nav_color {% else %}{% endif %}" href="">Contact Us</a></li>
                <li><a class="{% if navbar_color == 'black' %} nav_color {% else %}{% endif %}" href="{% url 'home' %}">Products</a></li>
            </ul>
        </nav>
    </div>

    {% block content %}
    {% endblock content %}

    <!-- Option 1 : Bootstrap Bundle with Popper -->
    <script src="http://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity=
</body>
</html>