{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Kopiku</title>
</head>
<body>
    <!-- for x in daftar_kopi -->
    <div class="kopi">
        <h1>{{x.nama}}</h1>
        <img src="{{x.gambar.url}}" alt="">
        <h1>{{x.merek}}</h1>
    </div>    
</body>
</html>