*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: black;
    font-size: 20px;
}

img{
    width: 400px;
}

.kopi{
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
    display: inline-block;
}