{% extends 'base.html' %}

{% block content %}

<div class="contents">
    <h2>Tambah kaos</h2>
    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}

        <button type="submit" value="Save">Submit</button>
    </form>
</div>

{% endblock content %}



