{% extends 'base.html' %}

{% block content %}

<div class="conten">
    <h2>Kaos {{object.id}}</h2>
    <p>Nama : {{object.nama}}</p>
    <p>Ukuran : {{object.ukuran}}</p>
    <p>Bahan : {{object.bahan}}</p>
    <p>Kategori : {{object.kategori}}</p>
    <p>Harga : {{object.harga}}</p>
    <p>Stok : {{object.stok}}</p>
</div>
{% endblock content %}
