:root {
  --BackgroundColor: #51843c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}

ul {
  padding: 0;
  margin: 0;
}

.carousel-size {
  max-height: 600px;
}

.header-content {
  background-color: var(--BackgroundColor);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 80px;
}

header ul {
  list-style: none;
}

header img {
  width: 200px;
}

header ul {
  list-style: none;
}

header li {
  display: inline-block;
  padding: 0 15px;
}

header li a {
  color: white;
  text-decoration: none;
}

header li a:hover {
  color: white;
}

.section1 {
  background-color: var(--BackgroundColor);
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
}

.section1-content {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 60px 0 200px 0;
}

.section1-content h1,
.section1-content p {
  color: white;
  margin-bottom: 20px;
}

.section1-buttons > button:nth-child(1) {
  color: var(--BackgroundColor);
  margin-right: 20px;
}

.section1-image {
  margin-top: -160px;
  margin-bottom: 80px;
}

.section1-image img {
  display: block;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}

.section2 {
  margin-bottom: 120px;
}

.section2-content {
  text-align: center;
}

.section2-title {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.btn-primary {
  background-color: var(--BackgroundColor);
  border: 2px solid #4caf50; /* Hijau */
}

.btn-primary:hover {
  background-color: #e25735;
  border: 2px solid red;
}

/* #motto1 {
  width: 100;
}

#motto2 {
  height: 235px;
  width: 350px;
} */
